<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="manifest.json">
        <title>Horaires RATP</title>
    </head>
    <body>
        <template id="stop-template">
            <div class="stop">
                <span class="title" @click="open_subtitle">
                    <span class="name">{{stop.name}}</span>
                    <span class="space"></span>
                    <transition name="refresh" mode="out-in" v-on:before-enter="refresh_b_enter">
                    <img class="refresh" src="img/refresh.png" v-on:click="refresh_clicked($event, line, stop_id)" v-on:click.right="refresh_clicked_right($event, line, stop_id)" :key="stop.state">
                    </transition>
                </span>
                <div class="subtitle" v-show="sub_opened">
                    <span class="time">Last updated: {{stop.last_updated}}</span>
                    <span class="space"></span>
                    <img class="delete" src="img/delete.png" alt="delete" v-on:click="delete_stop(line.kind, line.id, stop_id)">
                </div>
                <div class="schedule" v-for="schedule in stop.schedules">
                    <span class="destination">{{schedule.destination}}</span>
                    <span class="message screen">{{schedule.message}}</span>
                </div>
            </div>
        </template>

        <div id="header" class="header">
            <img class="menu-btn" src="img/menu.png" alt="menu">
            <span class="title">RATP Schedules</span>
            <select id="preset-select" class="preset-select">
                <option v-for="(obj, id) in presets" :value="id" :selected="(id == current_preset)">{{obj.name}}</option>
            </select>
        </div>
        <div id="content" class="content">
            <div id="schedules" class="schedules">
                <img class="loading rotate-ease" src="img/refresh.png">
                <template v-for="(kind, kind_name) in transports" :class="kind_name">
                    <div class="line" v-for="line in kind">
                        <img :src="'https://www.ratp.fr/sites/default/files/network/' + line.kind + '/symbole.svg'" :alt="line.kind">
                        <img :src="'https://www.ratp.fr/sites/default/files/network/' + line.kind + '/ligne' + line.id + '.svg'" :alt="line.id">
                        <stop v-for="(stop, stop_id) in line.stops" :line="line" :stop="stop" :stop_id="stop_id"/>
                    </div>
                </template>
            </div>
        </div>
        <div id="burger">
            <h3>Schedules preset</h3>
            <select id="preset-select" class="preset-select">
                <option v-for="(obj, id) in presets" :value="id" :selected="(id == current_preset)">{{obj.name}}</option>
            </select>
            <button class="preset-del">Delete</button>
            <br>
            <input type="text" class="preset-name" placeholder="Name">
            <button class="preset-add">Add</button>
            <h3>Add stop</h3>
            <div class="adder">
                <select class="type">
                    <option value="bus">Bus</option>
                    <option value="metro">Métro</option>
                    <option value="rer">RER</option>
                    <option value="tram">Tram</option>
                </select>
                <input type="text" class="line" placeholder="Line">
                <input type="text" class="stop" placeholder="Stop">
                <div class="direction">
                    Direction
                    <span><input type="checkbox" class="dir" value="A"><label>A</label></span>
                    <span><input type="checkbox" class="dir" value="R"><label>R</label></span>
                </div>
                <button class="add">Add</button>
                <p class="message"></p>
            </div>
            <h3>Configuration management</h3>
            <button class="reset">Reset</button>
            <br>
            <button class="dl-conf">Export</button>
            <br>
            <input type="file" class="up-conf">
            <button class="up-conf-ok">Import</button>
        </div>
        <script src="jquery-3.3.1.min.js"></script>
        <script src="vue.js"></script>
        <script src="cookies.js"></script>
        <script src="script.js"></script>
    </body>
</html>
